__pycache__/email_module.cpython-312.pyc
__pycache__/objects.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
.vscode/settings.json
hashlibprac/prac.py
pygamepractice/main.py
sqlite3prac/databases.py
get-pip.py
TKinterPractice/address_book.db
TKinterPractice/checkboxes.py
TKinterPractice/customer.db
TKinterPractice/customers.db
TKinterPractice/databasese.py
TKinterPractice/drop_down.py
TKinterPractice/modules.py
TKinterPractice/prac.py
TKinterPractice/slider.py
data_structures_and_algorithms_prac.py
data_structures_and_algorithms_prac/arrays.py
data_structures_and_algorithms_prac/binary_search.py
data_structures_and_algorithms_prac/linear_search.py
data_structures_and_algorithms_prac/recursive_binary_search.py
data_structures_and_algorithms_prac/linked_list_merge_sort.py
data_structures_and_algorithms_prac/linked_lists.py
data_structures_and_algorithms_prac/merge_sort.py
pandas_prac/freecodecamp.ipynb
pandas_prac/datasets/.DS_Store
pandas_prac/datasets/industry.csv
pandas_prac/datasets/speaker+accent+recognition.zip
pandas_prac/datasets/word-freq-top5000.csv
pandas_prac/datasets/words.csv
pandas_prac/datasets/speaker+accent+recognition/accent-mfcc-data-1.csv
pandas_prac/datasets/speaker+accent+recognition/ES-M-1-1.wav
pandas_prac/datasets/speaker+accent+recognition/FR-F-1-9.wav
pandas_prac/datasets/speaker+accent+recognition/GE-M-1-12.wav
pandas_prac/datasets/speaker+accent+recognition/IT-F-1-1.wav
pandas_prac/datasets/speaker+accent+recognition/UK-F-2-11.wav
pandas_prac/datasets/speaker+accent+recognition/US-F-2-9.wav
pandas_prac/datasets/speaker+accent+recognition/US-F-4-1.wav
pandas_prac/datasets/speaker+accent+recognition/US-M-2-3.wav
pandas_prac/datasets/speaker+accent+recognition/US-M-2-7.wav
pandas_prac/datasets/speaker+accent+recognition/US-M-5-9.wav
ML/.DS_Store
ML/example.py
ML/fcc_magic_example.ipynb
ML/datasets/.DS_Store
ML/datasets/magic+gamma+telescope.zip
ML/datasets/magic+gamma+telescope/magic04.data
ML/datasets/magic+gamma+telescope/magic04.names
