__pycache__/email_module.cpython-312.pyc
__pycache__/objects.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
.vscode/settings.json
hashlibprac/prac.py
pygamepractice/main.py
sqlite3prac/databases.py
get-pip.py
TKinterPractice/address_book.db
TKinterPractice/checkboxes.py
TKinterPractice/customer.db
TKinterPractice/customers.db
TKinterPractice/databasese.py
TKinterPractice/drop_down.py
TKinterPractice/modules.py
TKinterPractice/prac.py
TKinterPractice/slider.py
